body {
    position: relative;
}

.reactions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    background: #1e1e1e;
    padding: 16px 36px;
    border-radius: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.02);
}

.reactions button {
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
    user-select: none;
}

.reactions button:hover {
    transform: scale(1.2);
}

.bubble {
    position: absolute;
    font-size: 28px;
    pointer-events: none;
    will-change: transform, opacity;
}

.icon {
    visibility: hidden;
    background-color: rgba(50, 50, 50, 0.649);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    top: 38.5rem;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;


    .arrow {
        font-size: 50px;
        margin-top: 8px;
        color: rgba(255, 255, 255, 0.539) !important;
        /* transition: 2s ease-in-out; */
    }

}

.show {
    visibility: visible;
}